/* Genel Ayarlar */
body {
    margin: 0;
    background-color: #ffffff; /* Arka plan rengi beyaz */
    color: #000000; /* Yazı rengi siyah */
    font-family: 'DS-Digital', sans-serif; /* DS-Digital fontu */
}

/* Üst Menü */
.header {
    height: 50px; /* Üst menü yüksekliği */
    background-color: #1791C8; /* Açık ton mavi */
    box-shadow: 0px 2px 5px #3b3b3b; /* Gölgeli efekt */
    display: flex; /* Flexbox kullanarak içeriği hizalama */
    align-items: center; /* Dikey ortalama */
    justify-content: center; /* Yatay ortalama */
    position: relative; /* Konumlandırma için gerekli */
}

/* Select Kutusu */
.cube-select {
    background-color: #127bab; /* Üst menü ile aynı arka plan rengi */
    border: none; /* Kenar çizgisi yok */
    color: #ffffff; /* Yazı rengi beyaz */
    padding: 0; /* İç boşluk kaldırıldı */
    height: 25px; /* Yükseklik ayarı */
    width: 50px; /* Genişlik ayarı */
    appearance: none; /* Varsayılan stil kaldırılır */
    border-radius: 5px; /* Kenar yuvarlama */
    margin: 0 20px; /* Yana 20px boşluk */
    text-align: center; /* Metni ortala */
}

/* Açılır Menü Seçenekleri */
.cube-select option {
    background-color: #ffffff; /* Açılır menü arka plan rengi */
    color: #1791C8; /* Yazı rengi beyaz */
}

/* İçerik Bölümü */
.content {
    display: flex; /* Flexbox kullanarak içeriği hizalama */
    flex-direction: column; /* Dikey yönde hizalama */
    align-items: center; /* Yatay ortalama */
    justify-content: center; /* Dikey ortalama */
    height: calc(100vh - 50px); /* Yükseklik, üst menüyü hariç tutar */
}

/* Başlık */
.title {
    margin: 20px 0; /* Üst ve alt boşluk */
    font-size: 24px; /* Başlık boyutu */
}

/* Oluştur Butonu */
.create-button {
    background-color: #1791C8; /* Buton arka plan rengi */
    color: #ffffff; /* Yazı rengi beyaz */
    border: none; /* Kenar çizgisi yok */
    padding: 10px 20px; /* İç boşluk */
    border-radius: 5px; /* Kenar yuvarlama */
    cursor: pointer; /* İmleç değişikliği */
    font-size: 16px; /* Yazı boyutu */
}

/* Scramble Görüntüleme */
.scramble-display {
    font-size: 20px; /* Yazı boyutu */
    margin: 20px 0; /* Üst ve alt boşluk */
}

/* Kopyala Butonu */
.copy-button {
    background-color: #1791C8; /* Buton arka plan rengi */
    color: #ffffff; /* Yazı rengi beyaz */
    border: none; /* Kenar çizgisi yok */
    padding: 10px 20px; /* İç boşluk */
    border-radius: 5px; /* Kenar yuvarlama */
    cursor: pointer; /* İmleç değişikliği */
    font-size: 16px; /* Yazı boyutu */
}
